@model mvc.Models.Produto

<form asp-controller="Produto"  asp-action="Save" method="Post">
Id:
<input asp-for="Id"/>
<span asp-validation-for="Id"></span>
Nome:
<input asp-for="Nome"/>
<span asp-validation-for="Nome"></span>
Preço
<input asp-for="Preco" />

<button type="submit">Enviar</button>
</form>