﻿@model Dominio.Entidades.Categoria

<form class="form-horizontal" asp-action="Salvar" asp-controller="Categoria" method="POST">
    <div class="form-group">
        <label class="col-md-1 control-label">Nome</label>
        <div class="col-md-2">
            <input type="text" class="form-control" asp-for="Nome"/>
        </div>
    </div>
    <div class="form-group">
           <div class="col-md-2">
            <button class="btn btn-success"> Salvar</button>
    </div>
    </div>
</form>